# ENV FILES
CALMO_BACKEND/.env
CALMO_BACKEND/.env.local
CALMO_BACKEND/.env.development
CALMO_BACKEND/.env.test
CALMO_BACKEND/.env.production

# NODE MODULES
CALMO_BACKEND/node_modules

# BUILD FILES
CALMO_BACKEND/dist
CALMO_BACKEND/build
CALMO_BACKEND/.next
CALMO_BACKEND/.cache

# IDE FILES
CALMO_BACKEND/.vscode
CALMO_BACKEND/.idea

# SYSTEM FILES
CALMO_BACKEND/.DS_Store